# Библиотеки
node_modules/

# Собраные файлы
/lib/

# Секреты и логи
.env
.env.*
npm-debug.log*
firebase-debug.log*
api.txt
token.txt

# Исключаем временные файлы отладки и исправления
fix_secrets.js
clean_*.txt
test.txt
